
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: 600px;
    backdrop-filter: brightness(0.5);
    background-image: url(https://yt3.ggpht.com/uYJOK3BNfif7vFR0CwvBhziC7F5FNwDi2Yyg-VZHDBwiLBicSBNAYCq3yIubxABGHKmC3sBAKA=s900-c-k-c0x00ffffff-no-rj);
}


.App{
    text-align: center;

   
}

.taskBg{
    background-color: rgb(199, 198, 198);
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskBg div {
    display: flex;
    align-items: center;
}

.taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
    flex: 1;
}

.taskNumber { 
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}



.taskBg .IconsWrap  {
    position: absolute;
    display: inline-block;
    margin:0px 10px 0px 10px ;
    cursor: pointer;
    color: #00ff89;
    top: 50%;
    width: auto;
    cursor: pointer;

}


.span2{
    display: inline-block;
    margin:0px 10px 0px 10px ;
    cursor: pointer;
    color: #00ff89;
    cursor: pointer;
}
.span2:hover{
    color: yellow;
}


.form-control{
    margin-bottom: 1em;
}
.btn-success{
    margin-left: 1em;
    margin-right: 1em;
}



.title-tareas{
    margin-top: 1em;
    margin-bottom: 1em;
  
}


